.description-card-wrapper{
    background-color: $bondi-blue;
    color: #ffffff;
    h1{
        font-size: 66px;
        font-family: 'Lora', serif;
        color: $cod-gray;
    }
    p{
        font-size: 20px;
        font-weight: 200;
    }
}